(
    n_env: 2,
    n_phe: 2,
    prob_env: (
        v: 1,
        dim: (2, 2),
        data: [
            0.99,
            0.01,
            0.01,
            0.99,
        ],
    ),
    prob_rep: (
        v: 1,
        dim: (2, 2),
        data: [
            0.04,
            0.0,
            0.0,
            0.03,
        ],
    ),
    prob_dec: (
        v: 1,
        dim: (2, 2),
        data: [
            0.0,
            0.02,
            0.02,
            0.0,
        ],
    ),
    n_agt_init: 1024,
    std_dev_mut: 0.01,
    steps_per_save: 4096,
    saves_per_file: 64,
)